@model ErrorViewModel
@{
    ViewData["Title"] = "Грешка";
}


<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработката на вашата заявка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID на заявка:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим за разработка</h3>
<p>
    Превключването към <strong>режим за разработка</strong> ще покаже по-подробна информация за възникналата грешка.
</p>
<p>
    <strong>Режимът за разработка не трябва да бъде активиран за внедрени приложения.</strong>
    Това може да доведе до показване на чувствителна информация от изключенията към крайните потребители.
    За локално отстраняване на грешки, активирайте <strong>режим за разработка</strong>, като зададете променливата на средата <strong>ASPNETCORE_ENVIRONMENT</strong> на <strong>Development</strong>
    и рестартирате приложението.
</p>




